<html lang="pt-BR" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            Crypto Wallet
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        {% load static %}
        <script src="{% static 'autenticador/js/registrarusuario.js'%}" type="text/javascript">
            window.CSRF_TOKEN = "{{ csrf_token }}"; 
        </script>
    </head>
    <body>
        <h1>Crypto Wallet - Registrar Novo Usuario</h1>
        <td class='formLabel' id='idCampoErro'></td>
        <form class="" method='POST' id='idFormCadastro'>{% csrf_token %}
            <table>
            <!--Email-->
            <tr>
                <td class='formLabel'>Nome de Usuario:</td>
                <td><input type='text' name='username' id='idUsername' class='campoCerto'/></td>
            </tr>
            <!--SENHA -->
            <tr>
                <td class='formLabel'>Senha:</td>
                <td><input type='text' name='password' id='idSenha' class='campoCerto'/></td>
            </tr>
            <!--SENHA -->
            <tr>
                <td class='formLabel'>Confirmar Senha:</td>
                <td><input type='text' name='passwordConfirmation' id='idConfirmadaSenha' class='campoCerto'/></td>
            </tr>
            <!--PRIMEIRO NOME -->
            <tr>
                <td class='formLabel'>Nome:</td>
                <td><input type='text' name='firstName' id='idPrimeiroNome' class='campoCerto'/></td>
            </tr>
            <!--SOBRENOME-->
            <tr>
                <td class='formLabel'>Sobrenome:</td>
                <td><input type='text' name='lastName' id='idSobrenome' class='campoCerto'/></td>
            </tr>
            </table>
        </form>
         <tr>
            <a id = 'idRegistrar' type='button' class= 'celulaCentralizada' colspan='2'>Confirmar</a>
        </tr>
        <tr>
            <a id = 'idVoltar' type='button' class= 'celulaCentralizada' colspan='2'>Voltar</a>
        </tr>
        <tr>
    </body>
</html>
