<html lang="pt-BR" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            Crypto Wallet
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        {% load static %}
        <script src="{% static 'carteira/js/paginaInicial/paginaInicial.js'%}" type="text/javascript">
            window.CSRF_TOKEN = "{{ csrf_token }}"; 
        </script>
    </head>
    <body>
        <h1>Crypto Wallet - Bem vindo: fulano</h1>
        <table id='idCarteiraMoedas'>
            <tr>
                <th>Moeda</th>
                <th>Quantidade</th>
                <th>Valor</th>
            </tr>
            <tr id='ETH'>
                <td>ETH</td>
                <td>10</td>
                <td>X</td>
                <td><button id='idDeleteETH'>Delete</button></td>
            </tr>
            <tr id='DOGE'>
                <td>DOGE</td>
                <td>1502</td>
                <td>Y</td>
                <td><button id='idDeleteDOGE'>Delete</button></td>
            </tr>
        </table>
        <td><button id='idAdicionar'>Adicionar</button></td>
    </body>
</html>
